/* make it nice */

.row div:nth-child(2n+1){
    background: rgba(204, 204, 204, 0.5);       
}

.row div:nth-child(2n){
    background: rgba(204, 204, 204, 0.25);       
}

@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {
    
    /* 1>2 */
    .oneElevenCol>p:after{
        content: ' > Two';
    }
    
    /* 11>10 */
    .elevenOneCol>p:after{
        content: ' > Ten';
    }
    
    /* 2>3 */
    .twoTenCol>p:after{
        content: ' > Three';
    }
    
    /* 10>9 */
    .tenTwoCol>p:after{
        content: ' > Nine';
    }
    
    /* 3>4 */
    .threeNineCol>p:after{
        content: ' > Four';
    }
    
    /* 9>8 */
    .nineThreeCol>p:after{
        content: ' > Eight';
    }
    
    /* 4>5 */
    .fourEightCol>p:after{
        content: ' > Five';
    }
    
    /* 8>7 */
    .eightFourCol>p:after{
        content: ' > Seven';
    }
    
    /* 5>6 */
    .fiveSevenCol>p:after{
        content: ' > Six';
    }
    
    /* 7>6 */
    .sevenFiveCol>p:after{
        content: ' > Six';
    }

}

@media screen and (max-width: 768px) {

    /* 1>3 */
    .oneElevenCol>p:after{
        content: ' > Three';
    }
    
    /* 11>9 */
    .elevenOneCol>p:after{
        content: ' > Nine';
    }
    
    /* 2>4 */
    .twoTenCol>p:after{
        content: ' > Four';
    }
    
    /* 10>8 */
    .tenTwoCol>p:after{
        content: ' > Eight';
    }
    
    /* 3>5 */
    .threeNineCol>p:after{
        content: ' > Five';
    }
    
    /* 9>7 */
    .nineThreeCol>p:after{
        content: ' > Seven';
    }
    
    /* 4>6 */
    .fourEightCol>p:after{
        content: ' > Six';
    }
    
    /* 8>6 */
    .eightFourCol>p:after{
        content: ' > Six';
    }
    
    /* 5>full */
    .fiveSevenCol>p:after{
        content: ' > Full';
    }
    
    /* 7>full */
    .sevenFiveCol>p:after{
        content: ' > Full';
    }

}

@media screen and (max-width: 640px) {

    /* 1>4 */
    .oneElevenCol>p:after{
        content: ' > Four';
    }
    
    /* 11>8 */
    .elevenOneCol>p:after{
        content: ' > Eight';
    }
    
    /* 2>5 */
    .twoTenCol>p:after{
        content: ' > Five';
    }
    
    /* 10>7 */
    .tenTwoCol>p:after{
        content: ' > Seven';
    }
    
    /* 3>6 */
    .threeNineCol>p:after{
        content: ' > Six';
    }
    
    /* 9>6 */
    .nineThreeCol>p:after{
        content: ' > Six';
    }
    
    /* 4>6 */
    .fourEightCol>p:after{
        content: ' > Full';
    }
    
    /* 8>6 */
    .eightFourCol>p:after{
        content: ' > Full';
    }

}

@media screen and (max-width: 480px) {

    /* 1>5 */
    .oneElevenCol>p:after{
        content: ' > Five';
    }
    
    /* 11>7 */
    .elevenOneCol>p:after{
        content: ' > Seven';
    }
    
    /* 2>6 */
    .twoTenCol>p:after{
        content: ' > Six';
    }
    
    /* 10>6 */
    .tenTwoCol>p:after{
        content: ' > Six';
    }
    
    /* 3>full */
    .threeNineCol>p:after{
        content: ' > Full';
    }
    
    /* 9>full */
    .nineThreeCol>p:after{
        content: ' > Full';
    }    
}