/* make it nice */

/* overwrite the padding on the container */
.container{
    padding: 0 6em;
}

.row{
    background: #BBB;
    overflow: hidden;
}

header{
    text-align: center;
}

@media screen and (min-width: 1280px) {

    .container{
        padding: 0 5em;
    }

}

@media screen and (max-width: 1024px) {

    .container{
        padding: 0 4em;
    }
    
}

@media screen and (max-width: 960px) {

    .container{
        padding: 0 3em;
    }
    
}

@media screen and (max-width: 768px) {
    
    .container{
        padding: 0 2em;
    }
    
}

@media screen and (max-width: 640px) {

    .container{
        padding: 0 1em;
    }
    
}

@media screen and (max-width: 480px) {

    .container{
        padding: 0 0.1em;
    }
    
}