/* make it nice */

/* overwrite the padding on the container */
.container{
    padding: 0 1em;
}

.row>div:nth-child(2n+1){
    background: rgba(204, 204, 204, 0.5);
}

.row>div:nth-child(2n){
    background: rgba(204, 204, 204, 0.25);
}

.highlight{
    color:  red; 
}

.row{
    overflow: hidden;
}



@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {
    
     

}

@media screen and (max-width: 768px) {
    
        
}

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 480px) {
    
   
}