.container{
    padding: 0 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.row{
    clear: both;
}

.oneCol, .oneSevenCol, .twoCol, .twoSixCol, .threeCol, .threeFiveCol, .fourCol, .fiveCol, .fiveThreeCol, .sixCol, .sixTwoCol, .sevenCol, .sevenOneCol, .eightCol{
    
    float: left;

    position: relative;
    
    padding: 0 0.75em;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.oneCol{
    width: 12.5%;
}

.oneSevenCol{
    width: 12.5%;
}


.twoCol{
    width: 25%;
}

.twoSixCol{
    width: 25%;
}

.threeCol{
    width: 37.5%;
}

.threeFiveCol{
    width: 37.5%;
}

.fourCol{
    width: 50%;
}

.fiveCol{
    width: 62.5%;
}

.fiveThreeCol{
    width: 62.5%;
}

.sixCol{
    width: 75%;
}

.sixTwoCol{
    width: 75%;
}

.sevenCol{
    width: 87.5%;
}

.sevenOneCol{
    width: 87.5%;
}

.eightCol{
    width: 100%;
}




img, object, embed {
    max-width: 100%;
}

img {
	height: auto;
}

 

/*


resolutions

iPad:  1024x768
iPhone: 960x640

*/

@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
    
    /* generic changes */
    
    body {
	   font-size: 0.9em;
	}

    .container{
        padding: 0 0.5em;
    }
    
    /* equal width columns */
    
    .oneCol:nth-child(4n+1){
        clear: both;
    }
    
    .oneCol{
        width: 25%;
    }
    
    .twoCol:nth-child(2n+1){
        clear: both;
    }
    
    .twoCol{
        width: 50%;
    }
    
    .fourCol{
        width: 100%;
    }
    
    /* un-equal width columns */
    
    /* 1>2 */
    .oneSevenCol{
        width: 25%;
    }
    
    /* 7>6 */
    .sevenOneCol{
        width: 75%;
    }
    
    /* 2>3 */
    .twoSixCol{
        width: 37.5%;
    }
    
    /* 6>5 */
    .sixTwoCol{
        width: 62.5%;
    }
    
    /* 3>4 */
    .threeFiveCol{
        width: 50%;
    }
    /* 4>4 */
    .fiveThreeCol{
        width: 50%;
    }
    

}

@media screen and (max-width: 640px) {

    /* generic changes */
    
    body {
	   font-size: 0.8em;
	}

    .container{
        padding: 0 0.25em;
    }

    /* equal width columns */
    
    .oneCol:nth-child(2n+1){
        clear: both;
    }
    
    .oneCol{
        width: 50%;
    }
    
    .twoCol{
        width: 100%;
    }
    
    /* un-equal width columns */
    
    /* 1>3 */
    .oneSevenCol{
        width: 37.5%;
    }
    
    /* 7>5 */
    .sevenOneCol{
        width: 62.5%;
    }
    
    /* 2>4 */
    .twoSixCol{
        width: 50%;
    }
    
    /* 6>4 */
    .sixTwoCol{
        width: 50%;
    }
    
    /* 3>8 */
    .threeFiveCol{
        width: 100%;
    }
    /* 4>8 */
    .fiveThreeCol{
        width: 100%;
    } 
    
}

@media screen and (max-width: 480px) {
    
    /* generic changes */
    
    body {
	   font-size: 0.75em;
	}

    .container{
        padding: 0 0.1em;
    }

    /* equal width columns */
    
    .oneCol{
        width: 100%;
    }

    
    /* un-equal width columns */
    
    /* 1>8 */
    .oneSevenCol{
        width: 100%;
    }
    
    /* 7>8 */
    .sevenOneCol{
        width: 100%;
    }
    
    /* 2>8 */
    .twoSixCol{
        width: 100%;
    }
    
    /* 6>8 */
    .sixTwoCol{
        width: 100%;
    }
    
    /* 3>8 */
    .threeFiveCol{
        width: 100%;
    }
    /* 4>8 */
    .fiveThreeCol{
        width: 100%;
    } 
}