/* 
    
    Metal CSS Grid 0.2
    
    https://github.com/Cipa/Metal-CSS-Grid
    
*/


/* generic styles */

body {

    font-size: 1em;

}

.container{
    padding: 0 0.75em;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.row{
    clear: both;
    padding: 0.75em 0;
}


/* columns styles */

.oneCol, .oneElevenCol, .twoCol, .twoTenCol, .threeCol, .threeNineCol, .fourCol, .fourEightCol, .fiveSevenCol, .sixCol, .sevenFiveCol, .eightFourCol, .nineThreeCol, .tenTwoCol, .elevenOneCol, .twelveCol{
    float: left;
    position: relative;
    padding: 0 0.75em;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.oneCol, .oneElevenCol{
    width: 8.33333333%;
}


.twoCol, .twoTenCol{
    width: 16.6666667%;
}

.threeCol, .threeNineCol{
    width: 25%;
}

.fourCol, .fourEightCol{
    width: 33.3333333%;
}

.fiveSevenCol{
    width: 41.66666663%;
}

.sixCol{
    width: 50%;
}

.sevenFiveCol{
    width: 58.33333333%;
}

.eightFourCol{
    width: 66.6666667%;
}

.nineThreeCol{
    width: 75%;
}

.tenTwoCol{
    width: 83.3333333%;
}

.elevenOneCol{
    width: 91.66666667%;
}

.twelveCol{
    width: 100%;
}

img, object, embed {
    max-width: 100%;
}

img {
	height: auto;
}

 

/*

    MEDIA QUERIES
    
    
    DEVICE PROPERTIES
    
     - iPad: 1024x768
     - iPhone: 960x640

*/

/* ! 1280px */
@media screen and (min-width: 1280px) {

    /* define specific resolution styles */

}

/* ! 1024px */
@media screen and (max-width: 1024px) {
    
    /* define specific resolution styles */

}

/* ! 960px */
@media screen and (max-width: 960px) {
    
    /* generic styles */
    
    body {
	   font-size: 0.9em;
	}

    .container{
        padding: 0 0.5em;
    }
    
    .row{
        padding: 0.5em 0;
    }
    
    /* equal width columns */
    
    .oneCol:nth-child(6n+1){
        clear: both;
    }
    
    .oneCol{
        width: 16.6666667%;
    }
    
    .twoCol:nth-child(3n+1){
        clear: both;
    }
    
    .twoCol{
        width: 33.3333333%;
    }
    
    .threeCol:nth-child(2n+1){
        clear: both;
    }
    
    .threeCol{
        width: 50%;
    }
    
    .fourCol{
        width: 100%;
    }
    
    .sixCol{
        width: 100%;
    }
    

    /* un-equal width columns */
    
    /* 1>2 */
    .oneElevenCol{
        width: 16.6666667%;
    }
    
    /* 11>10 */
    .elevenOneCol{
        width: 83.3333333%;
    }
    
    /* 2>3 */
    .twoTenCol{
        width: 25%;
    }
    
    /* 10>9 */
    .tenTwoCol{
        width: 75%;
    }
    
    /* 3>4 */
    .threeNineCol{
        width: 33.3333333%;
    }
    
    /* 9>8 */
    .nineThreeCol{
        width: 66.6666667%;
    }
    
    /* 4>5 */
    .fourEightCol{
        width: 41.66666663%;
    }
    
    /* 8>7 */
    .eightFourCol{
        width: 58.33333333%;
    }
    
    /* 5>6 */
    .fiveSevenCol{
        width: 50%;
    }
    
    /* 7>6 */
    .sevenFiveCol{
        width: 50%;
    }

}

/* ! 768px */
@media screen and (max-width: 768px) {
    
    /* generic changes */
    
    body {
	   font-size: 0.8em;
	}

    .container{
        padding: 0 0.4em;
    }
    
    .row{
        padding: 0.4em 0;
    }
    
    /* equal width columns */
    
    .oneCol:nth-child(3n+1){
        clear: both;
    }
    
    .oneCol{
        width: 33.3333333%;
    }
    
    
    .twoCol{
        width: 50%;
        clear: none !important; /*reset from previous*/
    }
    
    .twoCol:nth-child(2n+1){
        clear: both;
    }
    
    .threeCol{
        width: 100%;
    }


}

/* ! 640px */
@media screen and (max-width: 640px) {


    /* equal width columns */
    
    .oneCol:nth-child(2n+1){
        clear: both;
    }
    
    .oneCol{
        width: 50%;
    }
    
    .twoCol{
        width: 100%;
    }
    
    /* un-equal width columns */
    
    /* 1>3 */
    .oneSevenCol{
        width: 37.5%;
    }
    
    /* 7>5 */
    .sevenOneCol{
        width: 62.5%;
    }
    
    /* 2>4 */
    .twoSixCol{
        width: 50%;
    }
    
    /* 6>4 */
    .sixTwoCol{
        width: 50%;
    }
    
    /* 3>8 */
    .threeFiveCol{
        width: 100%;
    }
    /* 4>8 */
    .fiveThreeCol{
        width: 100%;
    } 
    
}

/* ! 480px */
@media screen and (max-width: 480px) {
    
    /* generic changes */
    
    body {
	   font-size: 0.75em;
	}

    .container{
        padding: 0 0.1em;
    }
    
    .row{
        padding: 0.01em 0;
    }

    /* equal width columns */
    
    .oneCol{
        width: 100%;
    }

    
    /* un-equal width columns */
    
    /* 1>8 */
    .oneSevenCol{
        width: 100%;
    }
    
    /* 7>8 */
    .sevenOneCol{
        width: 100%;
    }
    
    /* 2>8 */
    .twoSixCol{
        width: 100%;
    }
    
    /* 6>8 */
    .sixTwoCol{
        width: 100%;
    }
    
    /* 3>8 */
    .threeFiveCol{
        width: 100%;
    }
    /* 4>8 */
    .fiveThreeCol{
        width: 100%;
    } 
}