/*
Site colors:

F2F2F2
BFBFBF
8C8C8C
404040
0D0D0D

*/

body{
    background: #FFF;
    color: #0D0D0D;
    line-height: 1.5em;
    font-size: 1em;
}

.small {
  /* 13px / 18px */

  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal, h3 {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
  /* 24 */

}
.large, h2, h1 {
  /* 26 / 36px */

  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}
.huge {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
.massive {
  /* 68px / 72px */

  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */

  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}

h1{
    color: #404040;
    line-height: 1.5em;
}

h2{
    color: #404040;
}

h3{
    color: #404040;
}


a{
    border-bottom: 0.1em solid #8C8C8C;
    text-decoration: none;
    color: #8C8C8C;
}

a:hover{
    border-bottom: 0.125em solid #404040;
}


ul li{
    line-height: 1.3em;
}

#quickDemo{

}

#quickDemo .row div:nth-child(2n+1){
    background: rgba(140, 140, 140, 0.5);       
}

#quickDemo .row div:nth-child(2n){
    background: rgba(140, 140, 140, 0.25);       
}


@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

    /* un-equal width columns */
    
    /* 1>2 */
    .oneSevenCol>p:after{
        content: ' > Two';
    }
    
    /* 7>6 */
    .sevenOneCol>p:after{
        content: ' > Six';
    }
    
    /* 2>3 */
    .twoSixCol>p:after{
        content: ' > Three';
    }
    
    /* 6>5 */
    .sixTwoCol>p:after{
        content: ' > Five';
    }
    
    /* 3>4 */
    .threeFiveCol>p:after{
        content: ' > Four';
    }
    /* 4>4 */
    .fiveThreeCol>p:after{
        content: ' > Four';
    }

}

@media screen and (max-width: 640px) {

    /* un-equal width columns */
    
    /* 1>3 */
    .oneSevenCol>p:after{
        content: ' > Three';
    }
    
    /* 7>5 */
    .sevenOneCol>p:after{
        content: ' > Five';
    }
    
    /* 2>4 */
    .twoSixCol>p:after{
        content: ' > Four';
    }
    
    /* 6>4 */
    .sixTwoCol>p:after{
        content: ' > Four';
    }
    
    /* 3>8 */
    .threeFiveCol>p:after{
        content: ' > Eight';
    }
    /* 4>8 */
    .fiveThreeCol>p:after{
        content: ' > Eight';
    }

}

@media screen and (max-width: 480px) {

    /* un-equal width columns */
    
    /* 1>8 */
    .oneSevenCol>p:after{
        content: ' > Eight';
    }
    
    /* 7>8 */
    .sevenOneCol>p:after{
        content: ' > Eight';
    }
    
    /* 2>8 */
    .twoSixCol>p:after{
        content: ' > Eight';
    }
    
    /* 6>8 */
    .sixTwoCol>p:after{
        content: ' > Eight';
    }
    
    /* 3>8 */
    .threeFiveCol>p:after{
        content: ' > Eight';
    }
    /* 4>8 */
    .fiveThreeCol>p:after{
        content: ' > Eight';
    }
    
}