/*
Site colors:

F2F2F2
BFBFBF
8C8C8C
404040
0D0D0D

*/

body{
    background: #FFF;
    color: #0D0D0D;
    line-height: 1.5em;
    font-size: 1em;
}

.small {
  /* 13px / 18px */

  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal, h3 {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
  /* 24 */

}
.large, h2, h1 {
  /* 26 / 36px */

  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}
.huge {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
.massive {
  /* 68px / 72px */

  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */

  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}

h1{
    color: #404040;
    line-height: 1.5em;
}

h2{
    color: #404040;
}

h3{
    color: #404040;
}


a{
    border-bottom: 0.1em solid #8C8C8C;
    text-decoration: none;
    color: #8C8C8C;
}

a:hover{
    border-bottom: 0.125em solid #404040;
}


ul li{
    line-height: 1.3em;
}

#quickDemo p{
    margin: 3px 0;
    font-size: 0.5em;
}

#quickDemo .row div:nth-child(2n+1){
    background: rgba(140, 140, 140, 0.5);       
}

#quickDemo .row div:nth-child(2n){
    background: rgba(140, 140, 140, 0.25);       
}


@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {
    
    /* 1>2 */
    .oneElevenCol>p:after{
        content: ' > Two';
    }
    
    /* 11>10 */
    .elevenOneCol>p:after{
        content: ' > Ten';
    }
    
    /* 2>3 */
    .twoTenCol>p:after{
        content: ' > Three';
    }
    
    /* 10>9 */
    .tenTwoCol>p:after{
        content: ' > Nine';
    }
    
    /* 3>4 */
    .threeNineCol>p:after{
        content: ' > Four';
    }
    
    /* 9>8 */
    .nineThreeCol>p:after{
        content: ' > Eight';
    }
    
    /* 4>5 */
    .fourEightCol>p:after{
        content: ' > Five';
    }
    
    /* 8>7 */
    .eightFourCol>p:after{
        content: ' > Seven';
    }
    
    /* 5>6 */
    .fiveSevenCol>p:after{
        content: ' > Six';
    }
    
    /* 7>6 */
    .sevenFiveCol>p:after{
        content: ' > Six';
    }

}

@media screen and (max-width: 768px) {

    /* 1>3 */
    .oneElevenCol>p:after{
        content: ' > Three';
    }
    
    /* 11>9 */
    .elevenOneCol>p:after{
        content: ' > Nine';
    }
    
    /* 2>4 */
    .twoTenCol>p:after{
        content: ' > Four';
    }
    
    /* 10>8 */
    .tenTwoCol>p:after{
        content: ' > Eight';
    }
    
    /* 3>5 */
    .threeNineCol>p:after{
        content: ' > Five';
    }
    
    /* 9>7 */
    .nineThreeCol>p:after{
        content: ' > Seven';
    }
    
    /* 4>6 */
    .fourEightCol>p:after{
        content: ' > Six';
    }
    
    /* 8>6 */
    .eightFourCol>p:after{
        content: ' > Six';
    }
    
    /* 5>full */
    .fiveSevenCol>p:after{
        content: ' > Full';
    }
    
    /* 7>full */
    .sevenFiveCol>p:after{
        content: ' > Full';
    }

}

@media screen and (max-width: 640px) {

    /* 1>4 */
    .oneElevenCol>p:after{
        content: ' > Four';
    }
    
    /* 11>8 */
    .elevenOneCol>p:after{
        content: ' > Eight';
    }
    
    /* 2>5 */
    .twoTenCol>p:after{
        content: ' > Five';
    }
    
    /* 10>7 */
    .tenTwoCol>p:after{
        content: ' > Seven';
    }
    
    /* 3>6 */
    .threeNineCol>p:after{
        content: ' > Six';
    }
    
    /* 9>6 */
    .nineThreeCol>p:after{
        content: ' > Six';
    }
    
    /* 4>6 */
    .fourEightCol>p:after{
        content: ' > Full';
    }
    
    /* 8>6 */
    .eightFourCol>p:after{
        content: ' > Full';
    }

}

@media screen and (max-width: 480px) {

    /* 1>5 */
    .oneElevenCol>p:after{
        content: ' > Five';
    }
    
    /* 11>7 */
    .elevenOneCol>p:after{
        content: ' > Seven';
    }
    
    /* 2>6 */
    .twoTenCol>p:after{
        content: ' > Six';
    }
    
    /* 10>6 */
    .tenTwoCol>p:after{
        content: ' > Six';
    }
    
    /* 3>full */
    .threeNineCol>p:after{
        content: ' > Full';
    }
    
    /* 9>full */
    .nineThreeCol>p:after{
        content: ' > Full';
    }    
}